@charset "utf-8";
@import "reset";
@mixin full {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

@mixin place($pos) {
    position: $pos;
}

@mixin radius($W) {
    border-radius: $W;
}

html,
body {
    @include full;
}

html {
    touch-action: none;
}

body {
    background: #f4f4f4;
}

#app {
    @include full;
    &>div {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

/*section*/

section {
    overflow-y: scroll;
    flex: 1;
}

section::-webkit-scrollbar {
    display: none;
}