@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
	font-family: "微软雅黑", "Microsoft Yahei","Hiragino Sans GB", Tahoma, Arial, Helvetica,sans-serif;
}
//@font-face {
//  font-style: normal;
//  font-weight: 200;
//  src: url("../../iconfonts/pingfang/PingHei-light.woff") format("woff"), url("../../iconfonts/pingfang/PingHei-light.ttf") format("truetype");
//}
///* IE8 and Below
//----------------- */
//@font-face {
//  src: url("../../iconfonts/pingfang/PingHei-light.eot?") format("eot");
//}
//@font-face {
//  src: url("../../iconfonts/pingfang/PingHei-light.eot?") format("eot");
//  /* Copyright (c) 2000-2008, Changzhou SinoType Technology Co., Ltd. All rights reserved. */
//}
//@font-face {
//  src: url("../../iconfonts/pingfang/PingHei-text.eot?") format("eot");
//  /* Copyright (c) 2000-2008, Changzhou SinoType Technology Co., Ltd. All rights reserved. */
//}
//@font-face {
//  src: url("../../iconfonts/pingfang/PingHei-text.eot?") format("eot");
//  /* Copyright (c) 2000-2008, Changzhou SinoType Technology Co., Ltd. All rights reserved. */
//}
//@font-face {
//  src: url("../../iconfonts/pingfang/PingHei-semibold.eot?") format("eot");
//  /* Copyright (c) 2000-2008, Changzhou SinoType Technology Co., Ltd. All rights reserved. */
//}
//@font-face {
//  src: url("../../iconfonts/pingfang/PingHei-bold.eot?") format("eot");
//  /* Copyright (c) 2000-2008, Changzhou SinoType Technology Co., Ltd. All rights reserved. */
//}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
a {
    color: #000;
}
a:visited {
    color: #000;
}
/*
h1,h2,h3,h4,h5,h6,em,del{
	font-style:normal;
	font-weight:normal;
	font-size:100%;
	-webkit-text-size-adjust:none;
}
*/
nav ul {
    list-style: none;
}
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
.outline[type=text]:focus,
.outline[type=submit]:focus,
.outline[type=radio]:focus,
.outline[type=checkbox]:focus,
.outline[type=password]:focus {
    outline: none;
}
input[type=text]:focus,
input[type=submit]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
input[type=password]:focus {
    outline: none;
}
button[type=button]:focus,
button[type=submit]:focus,
input[type=reset]:focus {
    outline: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    outline: none;
}
a:hover {
    cursor: pointer;
}
i {
    font-style: normal;
}
em {
    color: #f00;
    font-size: 16px;
    margin-top: 5px;
    font-style: normal;
}
/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
button,
input {
    *overflow: visible;
    line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
u {
    display: block;
    background: no-repeat;
    background-position: 50% 50%;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.clear {
    clear: both;
    height: 0;
    font: 0/0 Arial;
    visibility: hidden;
}
.hide {
    visibility: hidden;
}
.text2em {
    text-indent: 2em;
}
.font12 {
    font-size: 12px;
}
.font14 {
    font-size: 14px;
}
.font16 {
    font-size: 16px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}
.font22 {
    font-size: 22px;
}
.font24 {
    font-size: 24px;
}
.font26 {
    font-size: 26px;
}